<nav [class.sticky]="appService.getComponentConfig('navbar')?.sticky"
    [class.transparent]="appService.getComponentConfig('navbar')?.transparent">
    <ul>
        @for(link of appService.getComponentConfig('navbar')?.links; track link.id) {
        @if(link.enabled && !(isAuthenticated && (link.key === 'LOG_IN' || link.key === 'SIGN_UP'))) {
        @if(link.key === 'PREFERENCES') {
        @if(isAuthenticated) {
        <li>
            <a [routerLink]="link.url" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
                {{ translateService.translate(link.name) }}
            </a>
        </li>
        }
        } @else {
        <li>
            <a [routerLink]="link.url" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
                {{ translateService.translate(link.name) }}
            </a>
        </li>
        }
        }
        }
    </ul>


    @if(appService.getComponentConfig('languageSwitcher')?.enabled) {
    <div class="language-dropdown">
        <button (click)="appService.toggleDropdown()">
            {{ appService.getLanguage() }} ▼
        </button>
        @if(appService.isLanguageDropdownOpen() === true){
        <ul class="dropdown-menu">
            @for(lang of appService.getAvailableLanguages(); track lang.name) {
            <li (click)="setLanguage(lang.name)">{{ lang.name }}</li>
            }
        </ul>
        }
    </div>
    }


</nav>