<aside>
    <ul>
        @for(link of sidebarLinks(); track link.id) {
            @if(link.enabled === true) {
                <li>
                    <a [href]="link.url">{{ link.name }}</a>
                </li>
            }
        }
    </ul>

    <div id="country-fetcher">
        <button >Fetch Countries</button>
        <!-- <div *ngIf="loading" class="loading">Loading countries...</div> 
         <div *ngIf="error" class="error">{{ error }}</div> -->

        <!-- <div id="country-list" *ngIf="countries.length > 0">
            <ul>
                <li *ngFor="let country of countries">
                    <strong>{{ country.name.common }}</strong> - {{ country.region }}
                </li>
            </ul>
        </div> -->
    </div>

</aside>