* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    flex: 1;
    display: flex;
}

#app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

app-sidebar {
    width: 20%;
    background-color: #f4f4f4;
    padding: 1rem;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    app-sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    #content {
        flex-direction: column;
    }
}